# Consigne:
ecrire un programme qui charge un fichier excel contenant des noms et des postes, choisie les postes aleatoirement et les attribue 
a un nom aleatoirement et nous retourne un tableau

In [1]:
#importer les bibliotheques random et pandas
import pandas as pd
import random

In [2]:
# Chargement du fichier Excel
noms=pd.read_excel('veille.xlsx', sheet_name=0)
noms

       Nom           Prenom
0    DRAME     ABDOUL RAZAK
1    ALLAH  NOEMIE CYRIELLE
2     NIAT       LYNN AUREA
3  ALANGBA          CYRILLE
4  KOUADIO            KADER

In [3]:
#charger la deuxieme feuille du fichier excel
roles= pd.read_excel('veille.xlsx', sheet_name='Role')
roles

                      Role
0           Chef de projet
1  Chargé de communication
2                   Membre
3                   Membre
4                   Membre

In [4]:
# Liste des noms
noms = noms["Prenom"].tolist()

In [5]:
# Liste des rôles
roles = roles["Role"].tolist()

In [6]:
# Choix aléatoire des noms
select = random.sample(noms, len(noms))
select

['LYNN AUREA', 'CYRILLE', 'KADER', 'ABDOUL RAZAK', 'NOEMIE CYRIELLE']

In [7]:
# Choix aléatoire des rôles
attrib = random.sample(roles, len(roles))
attrib

['Membre', 'Chargé de communication', 'Membre', 'Chef de projet', 'Membre']

In [8]:
# Attribution des rôles
for nom, role in zip(select, attrib):
    print(f"{nom} est {role}")

LYNN AUREA est Membre
CYRILLE est Chargé de communication
KADER est Membre
ABDOUL RAZAK est Chef de projet
NOEMIE CYRIELLE est Membre

In [9]:
# Retour du tableau
df= pd.DataFrame({"Prenom": select, "Rôle": attrib})
df

            Prenom                     Rôle
0       LYNN AUREA                   Membre
1          CYRILLE  Chargé de communication
2            KADER                   Membre
3     ABDOUL RAZAK           Chef de projet
4  NOEMIE CYRIELLE                   Membre

In [10]:
# Sauvegarder les valeurs dans un fichier CSV
df.to_csv('valeurs_generees.csv', index=False)